[Unit]
Description=Unity Management Console
After=network.target

[Service]
Type=simple
User=ubuntu
StandardOutput=append:/var/log/managementconsole.log
StandardError=inherit
WorkingDirectory=/home/ubuntu/management-console
ExecStart=/home/ubuntu/management-console/bin/management-console webapp
Restart=on-failure
WorkingDirectory=/home/ubuntu/management-console

[Install]
WantedBy=multi-user.target
